<div class="builder-form-group image-size ver-center">
  <label for="input-align-" class="col-sm-4 control-label"><%= label %></label>
  <div class="col-sm-8">
    <div class="row">
      <ul>
        <li class="smallImage">
          <input class="form-control" style="display:none;" type="radio" id="left-align" name="textAlignIcon" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="style" data-key="<%=mapping[0][:key]%>"/>
          <label for="left-align"></label>
        </li>
        <li class="mediumImage">
          <input class="form-control" style="display:none;" type="radio" id="center-align" name="textAlignIcon" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="style" data-key="<%=mapping[0][:key]%>"/>
          <label for="center-align"></label>
        </li>
        <li class="largeImage">
          <input class="form-control" style="display:none;" type="radio" id="right-align" name="textAlignIcon" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="style" data-key="<%=mapping[0][:key]%>"  />
          <label for="right-align"></label>
        </li>
      </ul>
    </div>
  </div>
</div>