<div class="builder-form-group row width-picker">
  <label for="input-align-" class="col-sm-4 control-label"><%= label %></label>
  <div class="col-sm-8">
    <div class="row ver-center">
      <span class="input-group">
        <input type="text" class="form-control input-sm" id="width-pc-width" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="style" data-key="<%=mapping[0][:key]%>">
      </span>
      <input type="hidden" id="width-pc-max-width" data-update-with="width-pc-width" data-type="editor-control" data-selector="<%=mapping[1][:selector]%>" data-category="style" data-key="<%=mapping[1][:key]%>">
      <span class="resetTxt floatLeft"></span>
    </div>
  </div>
</div>